* {
  color: #133C55;
}

.background {
  background-image: url("./parkPickBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 150vh;
}

.content {
  height: 100%;
    background-color: #FFFFFF;
    opacity: .4;
}